.account_info {
  display: flex;
  flex-direction: column;
  .heading {
    font-size: var(--text-d-2);
    font-weight: 600;
    margin-top: var(--space-m);
    margin-bottom: var(--space-xs);
  }
  .contents {
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
    .sub_title {
      font-size: var(--text-d-1);
      font-weight: 600;
    }
    .description {
      font-size: 400;
      &.include_link {
        display: flex;
        gap: var(--space-xs);
        align-items: center;
        flex-wrap: wrap;
        .lable_text {
          font-weight: 500;
        }
        .link_text {
          color: var(--blue);
          font-weight: 500;
        }
      }
    }
    .form_box {
      display: flex;
      flex-direction: column;
      gap: var(--space-s);
    }
    .check {
      display: flex;
      gap: var(--space-xxs);
      align-items: center;
    }
  }
}

.edit_change_password {
  position: relative;
  .btn_edit {
    min-height: 40px;
    display: flex;
    align-items: center;
    color: var(--gray1);
    cursor: pointer;
    position: absolute;
    top: calc(50% - 20px);
    right: 15px;
    font-size: var(--text-s);
    -webkit-tap-highlight-color: transparent;
    .text_blue {
      color: var(--blue);
    }
  }
  .input_password {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
    .row_1,
    .row_2 {
      position: relative;
      .btn_edit {
        min-height: 40px;
        display: flex;
        align-items: center;
        gap: var(--space-m);
        color: var(--gray1);
        position: absolute;
        top: calc(50% - 20px);
        right: 15px;
        font-size: var(--text-s);
        -webkit-tap-highlight-color: transparent;
        cursor: default;
        .text_blue {
          cursor: pointer;
          color: var(--blue);
        }
      }
    }
  }
}

.edit_change_phone {
  position: relative;
  .btn_edit {
    min-height: 40px;
    display: flex;
    align-items: center;
    color: var(--gray1);
    cursor: pointer;
    position: absolute;
    top: calc(50% - 20px);
    right: 15px;
    font-size: var(--text-s);
    -webkit-tap-highlight-color: transparent;
    .text_blue {
      color: var(--blue);
    }
  }
  .input_phone {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
    .row_1,
    .row_2 {
      position: relative;
      .btn_edit {
        min-height: 40px;
        display: flex;
        align-items: center;
        gap: var(--space-m);
        color: var(--gray1);
        position: absolute;
        top: calc(50% - 20px);
        right: 15px;
        font-size: var(--text-s);
        -webkit-tap-highlight-color: transparent;
        cursor: default;
        .text_blue {
          cursor: pointer;
          color: var(--blue);
        }
      }
    }
  }
  .txt_message {
    margin-top: var(--space-xxs);
    font-size: var(--text-s);
    color: var(--gray1);
  }
}

.edit_text_field {
  position: relative;
  .btn_edit {
    min-height: 40px;
    display: flex;
    align-items: center;
    color: var(--gray1);
    cursor: pointer;
    position: absolute;
    top: calc(50% - 20px);
    right: 15px;
    font-size: var(--text-s);
    -webkit-tap-highlight-color: transparent;
    .text_blue {
      color: var(--blue);
    }
  }
}

.accordion_box {
  border: 1.2px solid var(--gray2);
  border-radius: var(--round-m);
  display: flex;
  flex-direction: column;
  background-color: var(--gray2);
  gap: 2px;
  overflow: hidden;
  @media (prefers-color-scheme: no-preference) {
    border: 1.2px solid rgba($color: #ffffff, $alpha: 0.15);
    background-color: rgba($color: #ffffff, $alpha: 0.15);
  }
  .accordion_item {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    @media (prefers-color-scheme: no-preference) {
      background-color: #0c0541;
    }
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: var(--space-m);
      cursor: pointer;
      .header_text {
        font-weight: 500;
      }
      .btn_toggle {
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url('/src/images/arrow-icons/chv_down.svg');
        background-size: 20px;
        background-position: center;
        background-repeat: no-repeat;
        @media (prefers-color-scheme: no-preference) {
          background-image: url('/src/images/arrow-icons/chev_down_white.svg');
        }
      }
    }
    .body_contents {
      padding: var(--space-s);
      border-top: 2px solid var(--gray2);
      @media (prefers-color-scheme: no-preference) {
        border-top: 2px solid rgba($color: #ffffff, $alpha: 0.15);
      }
    }
  }
}

.clear_cache_button {
  width: fit-content;
  margin-left: auto;
  margin-right: 10px;
  font-size: var(--text-s);
  color: var(--gray2);
}

.edit_phone_number {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
  .row_1,
  .row_2 {
    position: relative;
    .btn_edit {
      min-height: 40px;
      display: flex;
      align-items: center;
      gap: var(--space-m);
      color: var(--gray1);
      position: absolute;
      top: calc(50% - 20px);
      right: 15px;
      font-size: var(--text-s);
      -webkit-tap-highlight-color: transparent;
      cursor: default;
      .text_blue {
        cursor: pointer;
        color: var(--blue);
      }
    }
  }
  .txt_message {
    font-size: var(--text-s);
    color: var(--gray1);
  }
}

.pause_subscription {
  display: grid;
  gap: var(--space-xs);
  .row {
    display: flex;
    justify-content: space-between;
    background-color: var(--gray3);
    padding: var(--space-s);
    border-radius: var(--round-m);
    font-size: var(--text-s);
    @media (prefers-color-scheme: no-preference) {
      background-color: #00000030;
    }
    .txt_1 {
      color: var(--gray1);
    }
    .txt_2 {
      font-weight: 500;
    }
  }
  .txt_p {
    padding: var(--space-xs);
    font-size: var(--text-s);
  }
  .btn_link {
    cursor: pointer;
    padding: var(--space-xs);
    padding-top: 0;
    font-size: var(--text-s);
    color: var(--blue);
    width: fit-content;
    margin-left: auto;
  }
}

.account_termination {
  .txt_p {
    padding: var(--space-xs);
    font-size: var(--text-s);
  }
  .btn_link {
    cursor: pointer;
    padding: var(--space-xs);
    padding-top: 0;
    font-size: var(--text-s);
    color: var(--gray1);
    width: fit-content;
    margin-left: auto;
  }
}

.suspend_view {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  align-items: flex-start;
  .txt_1 {
    font-size: var(--text-m);
    font-weight: 600;
  }
  .txt_2 {
    font-size: var(--text-s);
  }
  .txt_3 {
    font-size: var(--text-s);
    color: var(--gray1);
  }
  .btn_link {
    cursor: pointer;
    color: var(--blue);
    font-size: var(--text-s);
  }
}

.suspend_setting_modal {
  padding: var(--space-m);
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
  .buttons {
    display: flex;
    justify-content: end;
    gap: var(--space-s);
    .btn_light {
      cursor: pointer;
      min-width: 120px;
      padding: var(--space-s) var(--space-m);
      font-size: var(--text-m);
      background-color: rgba($color: #000000, $alpha: 0.05);
      text-align: center;
      border-radius: var(--round-m);
      @media (prefers-color-scheme: no-preference) {
        background-color: rgba($color: #ffffff, $alpha: 0.15);
      }
    }
  }
}

.widthdraw {
  .btn_link {
    cursor: pointer;
    color: var(--gray1);
    font-size: var(--text-s);
  }
}

.withdraw_cause_modal {
  padding: var(--space-m);
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
  .survey {
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
    .label {
      font-size: var(--text-m);
      font-weight: 600;
    }
    select {
      height: 34px;
      padding: 0 5px;
    }
  }
  .input_field {
    border: 1px solid var(--gray3) !important;
    padding: 3px;
    font-size: var(--text-s);
  }
  .buttons {
    display: flex;
    justify-content: end;
    gap: var(--space-s);
    .btn_light {
      cursor: pointer;
      min-width: 120px;
      padding: var(--space-s) var(--space-m);
      font-size: var(--text-m);
      background-color: rgba($color: #000000, $alpha: 0.05);
      text-align: center;
      border-radius: var(--round-m);
      @media (prefers-color-scheme: no-preference) {
        background-color: rgba($color: #ffffff, $alpha: 0.15);
      }
    }
  }
  .message_container {
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
  }
}

.streak_view_method {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  align-items: flex-start;
  .txt_1 {
    font-size: var(--text-m);
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: var(--space-xxs);
  }
  .txt_2 {
    font-size: var(--text-s);
  }
  .txt_3 {
    font-size: var(--text-s);
    color: var(--gray1);
  }
  .btn_link {
    cursor: pointer;
    color: var(--blue);
    font-size: var(--text-s);
  }
}
